<%- include('header'); %>

<div class="container">
    <h2>Update password Details</h2>

    <form class="form" method="POST" action="/all-passwords/update">

        <input type="hidden" name="id" value="<%= records._id %>">

        <div class="form-group">
            <label>Password Category</label>
            <select class="form-control" name="category">
                <option value="">Choose Category</option>
                <% if (catRecords.length > 0) { 
                        catRecords.forEach(function(row){                        
                        %>
                <option value="<%= row.category %>" <% if(row.category == records.category) {%> selected <% } %>>
                    <%= row.category %></option>
                <% }); } %>
            </select>
        </div>

        <div class="form-group">
            <label>Password Details</label>
            <textarea name="password_detail" class="form-control" cols="20" rows="5"
                placeholder="Enter Password Details">
                    <%= records.password_detail %>
                </textarea>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Update Password Details">
        </div>
    </form>
</div>

<%- include('footer'); %>